style.
	.menu{
		position: absolute;
		bottom: 0px;
		width: 100%;
	}
	.menu > .item {
		overflow: hidden;
		float: left;
		width: 130px;
		padding: 10px;
		background-color: #ededed;
		border: 0px;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		margin-left: 7px;
		height: 40px;
		margin-bottom: 1px;
		border-left: solid #60b57b 1px;
		border-top: solid #60b57b 1px;
		border-right: solid #60b57b 1px;
	}
	.menu > .big{
		width: 190px;
	}
	.menu > .active{
		height: 41px !important;
		margin-bottom: 0px !important;
	}
	.menu > .item > a{
		color: #00977f;
	}
	.email{
		position: absolute;
		bottom: 22%;
		left: 20px;
		font-size:22px;
	}
	.email a{
		color: white;
	}
	.phone{
		position: absolute;
		top: 25%;
		left: 45px;
		font-size: 36px;
	}
	.prompt{
		position: absolute;
		top: 7%;
		left: 15px;
		font-size: 17px;
		line-height: 18px;
	}

//-
	svg(xmlns:osb="http://www.openswatchbook.org/uri/2009/osb", xmlns:dc="http://purl.org/dc/elements/1.1/", xmlns:cc="http://creativecommons.org/ns#", xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#",  xmlns:svg="http://www.w3.org/2000/svg", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd", version="1.1", width="100%", viewBox="0 12 2750 408", style='padding:0px; margin: 0px;')
	- var xml2 = fs.readFileSync('/home/serg/my/projects/michurino-dv.ru/static/svg/decor_header.svg')
	g(inkscape:groupmode="layer", id="layer00", inkscape:label="декор", style="display:inline")!= xml2

div(style='position: relative;')
	//- object#graph(type="image/svg+xml", data="/static/svg/header.svg", width="100%", style='border-bottom: solid #60b57b 1px;', viewBox="0 0 2750 408")
	
	img#graph(src="/static/svg/header.png", viewBox="0 12 2750 408")
	//- , style='padding:0px; margin: 0px; width:100%;heigth:262px;'
	
	div.email
		a(href='mailto:' + params['email'])=params['email']
	div.phone=params['phone']
	div.prompt.bold!='Договориться о<br>просмотре участка'
	
	.menu
		each m, i in menu
			div( class='item' + ((i==selected)?' active':'') + (m.isbig?' big':'') )
				a(href=m.href)=m.caption
