extends ../layouts/ang_layout

block b1
	link(rel='stylesheet', href='/static/css/master.css')

block b3
	.row
		.col-xs-12
			h3=gallery.last.title
			div!=gallery.last.note
			div#carousel-example-generic.carousel.slide.top30(data-ride="carousel")
				ol.carousel-indicators
					each item,index in gallery.last.items
						li(data-target="#carousel-example-generic", data-slide-to=index, class=(index==0)?'active':'')
				.carousel-inner(role="listbox")
					each item,index in gallery.last.items
						.item(class=(index==0)?'active':'')
							img(src='/img/920x920/' + item.md5)
							.carousel-caption
								h3=item.title
								p=item.note
				a.left.carousel-control(role="button", data-slide="prev", ng-click='prevSlide()')
					span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
					span.sr-only Previous
				a.right.carousel-control(role="button", data-slide="next", ng-click='nextSlide()')
					span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
					span.sr-only Next
	if gallery.list.length>0
		.row.top30(ng-show='!data.gallerylist')
			.col-xs-12.text-right
				a.yet(ng-click='expand()') Ещё...
			.col-xs-12
		.row.top30(ng-show='data.gallerylist')
			.col-xs-2
			.col-xs-8
				each g in gallery.list
					div.gallery-list-item
						.icon
							big.glyphicon.glyphicon-picture
						.title
							a.pointer(href='/gallery/'+g.idgallery)=g.title
								br
								small.cnt='  ('+g.filecounter+' фото)'
						.clear
			.col-xs-2
block b4
	script(src='/static/js/root/index.js')







