.modal.fade.top30#modal_edit(tabindex="-1", role="dialog", aria-hidden="true")
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-label="Close", ng-click="hidePanel()")
					span(aria-hidden="true") &times;
				h3 редактируем участок
					span.bold(ng-class="{green:data.curr.status=='free', gray:!(data.curr.status=='free')}")  "{{data.curr.cadastr}}"
			.modal-body(style='background-color:#f9f9f9;')
				style.
					.contur{
						fill: yellow;
						stroke:#999;
						stroke-width:1px;
						stroke-linecap:butt;
						stroke-linejoin:miter;
						stroke-opacity: 1;
						cursor: pointer;
					}
					.contur:hover{
						stroke: red;
						stroke-width:2px;
					}
					.nocontur{
						fill: yellow;
						stroke: none;
						cursor: pointer;
					}
					.nocontur:hover{
						stroke: red;
						stroke-width:2px;
					}
					.labeltext{
						font-size:			140px;
						font-style:			normal;
						font-weight:		normal;
						line-height:		0%;
						letter-spacing:		0px;
						word-spacing:		0px;
						fill:				#000000;
						fill-opacity:		1;
						stroke:				none;
						font-family:		Sans;
					}
					.labelspan{
						text-align:center;
						line-height:0%;
						text-anchor:middle;
						fill:#ff0000;
						fill-opacity:1;
					}
					.s1{
						font-size:20px;
						fill:#555555;
					}
					.s2{
						font-size:16px;
						fill:#ff0000;
					}
					.stepen{
						font-size:65%;
						baseline-shift:super;
					}
				.row
					.col-md-3
						svg(version="1.1", id="Livello_1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width='100%', viewbox='{{calcViewbox(data.curr.points)}}')
							g(id="layer1")
								path.contur(id="path3055", d="m {{calcStart(data.curr.points)}} {{data.curr.points}} z")

								text.labeltext()
									tspan.labelspan.s1(x="{{data.curr.center.x}}", y="{{data.curr.center.y+5}}")!='№ {{data.curr.pp}}'
									tspan.labelspan.s2(x="{{data.curr.center.x}}", y="{{data.curr.center.y+25}}")
										!='{{data.curr.s}} м'
										tspan.stepen!='2'

								path.nocontur(id="path3056", d="m {{data.curr.center.x-2}},{{data.curr.center.y-2}} 5,0 0,5 -5,0 z")

					.col-md-9
						form(class="form-horizontal", role="form")
							div.form-group
								label.col-sm-5.control-label Номер
								.col-sm-7
									input.form-control(type="text", readonly=true, ng-model='data.curr.pp')
							div.form-group
								label.col-sm-5.control-label Ряд
								.col-sm-7
									input.form-control(type="text", readonly=true, ng-model='data.curr.groupnum')
							div.form-group
								label.col-sm-5.control-label Кадастровый номер
								.col-sm-7
									input.form-control(type="text", readonly=true, ng-model='data.curr.cadastr')

							div.form-group
								label.col-sm-5.control-label Площадь, м*м
								.col-sm-7
									input.form-control(type="text", readonly=true, ng-model='data.curr.s')

							div.form-group
								label.col-sm-5.control-label Стоимость, руб.
								.col-sm-7
									input.form-control(type="text", readonly=true, value='{{data.cost*data.curr.s | currency}}')

							div.form-group
								label.col-sm-5.control-label Статус
								.col-sm-7
									select.form-control(ng-model='data.curr.status')
										option(value='free')!='Свободен'
										option(value='busy')!='Занят'

							div.form-group
								label.col-sm-5.control-label Координаты начальной позиции (px)
								.col-sm-7
									textarea.form-control(ng-model='data.curr.start', rows=1)

							div.form-group
								label.col-sm-5.control-label Координаты на схеме (px)
								.col-sm-7
									textarea.form-control(ng-model='data.curr.points', rows=3)

			.modal-footer.margin0
				.row
					.col-xs-2.text-left
					.col-xs-8
					.col-xs-2
						button.btn.btn-sm.btn.btn-primary(ng-click='saveStead()') Сохранить

